.cp-bg-gold{
    background-color: #ffc125;
}

.cp-bg-tan{
    background-color: #aa7e28;
}

.cp-bg-orange{
    background-color: #cd6600;
}

.cp-bg-dgreen{
    background-color: #2f4f4f;
}

.cp-bg-lgreen{
    background-color: #458b74;
}

.cp-text-gold{
    color: #ffc125;
}

.cp-text-tan{
    color: #aa7e28;
}

.cp-text-orange{
    color: #cd6600;
}

.cp-text-dgreen{
    color: #2f4f4f;
}

.cp-text-lgreen{
    color: #458b74;
}